{% load static %}

<nav class="navbar">

    <div class="navbar-logo">
        <img src="{% static 'images/teoniko_logo.svg' %}" alt="Teoniko logo"/>
        <div class="logo-text">
            <span class="my-soul-regular">Teoniko</span><br/>
            <span class="subtitle">Бижута с харизма</span>
        </div>
    </div>


    <ul class="navbar-menu">
        <li class="dropdown">
            <a href="#">БИЖУТА <i class="fas fa-caret-down"></i></a>
            <ul class="dropdown-menu">
                <li><a href="#">Обеци</a></li>
                <li><a href="#">Гривни</a></li>
                <li><a href="#">Пръстени</a></li>
                <li><a href="#">Колиета</a></li>
                <li><a href="#">Висулки</a></li>
                <li><a href="#">Комплекти</a></li>
                <li><a href="#">Бужу според име, дата на раждане и зодия</a></li>
                <li><a href="#">Ланци</a></li>
                <li><a href="#">Вериги за панталон</a></li>
                <li><a href="#">Връзки за очила</a></li>
                <li><a href="#">Гривни за глезен</a></li>
                <li><a href="#">Броеници</a></li>
                <li><a href="#">Колани</a></li>
                <li><a href="#">Бижута за коса</a></li>
                <li><a href="#">Вериги за тяло</a></li>
                <li><a href="#">Ключодържатели</a></li>
                <li><a href="#">Брошки</a></li>
                <li><a href="#">Книгоразделители</a></li>
            </ul>
        </li>
        <li><a href="#">ПРОМОЦИЯ 40%</a></li>
        <li><a href="#">КУТИИ ЗА БИЖУТА</a></li>
        <li><a href="#">ПОДАРЪЧНИ КУТИИ</a></li>
        <li class="dropdown">
            <a href="#">КОЛЕКЦИИ <i class="fas fa-caret-down"></i></a>
            <ul class="dropdown-menu">
                <li><a href="#">КОЛЕДЕН БЛЯСЪК</a></li>
                <li><a href="#">КОЛЕКЦИЯ МАНДАЛИ</a></li>
                <li><a href="#">ПРОЛЕТНО ВЪЛШЕБСТВО</a></li>
                <li><a href="#">КОЛЕКЦИЯ ШЕВИЦИ</a></li>
                <li><a href="#">ЕСЕННА ПОЕЗИЯ 2020</a></li>
                <li><a href="#">ЗИМНИ ЦВЕТЯ 2020</a></li>
                <li><a href="#">КОЛЕКЦИЯ БОЖЕСТВЕНА</a></li>
            </ul>
        </li>
        <li><a href="#">ЗА МЕН</a></li>
        <li><a href="#">БЛОГ</a></li>
        <li><a href="#">КОНТАКТИ</a></li>
    </ul>

    <div class="navbar-icons-circle">
        <a href="#" class="icon-circle top hover-expand"><i class="fas fa-search"></i></a>
        <a href="#" class="icon-circle left"><i class="fas fa-user"></i></a>
        <a href="#" class="icon-circle right"><i class="fas fa-heart"></i></a>
        <a href="#" class="icon-circle bottom"><i class="fas fa-shopping-bag"></i><span class="cart-count">0</span></a>
    </div>
</nav>
