{% load static %}

<nav class="navbar">

    <a href="{% url 'home' %}" class="navbar-logo">
        <img src="{% static 'images/teoniko_logo.svg' %}" alt="Teoniko logo"/>
        <div class="logo-text">
            <span class="my-soul-regular">TeoNiko</span><br/>
            <span class="subtitle">Enchanting Jewels</span>
        </div>
    </a>

    <ul class="navbar-menu">
        <li class="dropdown">
            <a href="{% url 'category-all' %}">JEWELRY<i class="fas fa-caret-down"></i></a>
            <ul class="dropdown-menu">

                {% for c in categories %}
                    <li><a href="{% url 'category-by-name' name=c.name %}">{{ c.name|upper }}</a></li>
                {% endfor %}

            </ul>
        </li>
        <li class="dropdown">
            <a href="#">JEWELRY SETS<i class="fas fa-caret-down"></i></a>
            <ul class="dropdown-menu">
                <li><a href="#">CHRISTMAS SPARKLE</a></li>
                <li><a href="#">MANDALA COLLECTION</a></li>
                <li><a href="#">SPRING MAGIC</a></li>
                <li><a href="#">FOLK EMBROIDERY COLLECTION</a></li>
                <li><a href="#">AUTUMN POETRY 2020</a></li>
                <li><a href="#">WINTER FLOWERS 2020</a></li>
                <li><a href="#">DIVINE COLLECTION</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#">COLLECTIONS<i class="fas fa-caret-down"></i></a>
            <ul class="dropdown-menu">
                <li><a href="#">CHRISTMAS SPARKLE</a></li>
                <li><a href="#">MANDALA COLLECTION</a></li>
                <li><a href="#">SPRING MAGIC</a></li>
                <li><a href="#">FOLK EMBROIDERY COLLECTION</a></li>
                <li><a href="#">AUTUMN POETRY 2020</a></li>
                <li><a href="#">WINTER FLOWERS 2020</a></li>
                <li><a href="#">DIVINE COLLECTION</a></li>
            </ul>
        </li>
        <li><a href="#" class="nav-sale" aria-label="Forty percent discount">40% DISCOUNT</a></li>
        <li><a href="#">LEARN ABOUT ME</a></li>
        <li><a href="#">VISIT MY BLOG</a></li>
        <li><a href="#">CONTACTS</a></li>
    </ul>

    <div class="navbar-icons-circle">
        <a href="#" class="icon-circle top hover-expand"><i class="fas fa-search"></i></a>
        <a href="{% url 'account-entry' %}" class="icon-circle left"><i class="fas fa-user"></i></a>
        <a href="{% url 'wishlist' %}" class="icon-circle right" data-count="{{ wishlist_count|default:0 }}">
            <i class="fas fa-heart"></i>
            {% if wishlist_count %}
                <span class="badge js-wish-count">{{ wishlist_count }}</span>
            {% endif %}
        </a>
        <a href="#" class="icon-circle bottom"><i class="fas fa-shopping-bag"></i><span class="cart-count">0</span></a>
    </div>
</nav>
